.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #e8e8e4;
    border: 1px solid #00000026;

    box-shadow: 
        0px 1px 1px 0px #00000026,
        0px 15px 0px -5px #e8e8e4,
        0px 15px 1px -4px #00000026,
        0px 30px 0px -10px #e8e8e4,
        0px 30px 1px -9px #00000026,
        0px 45px 0px -15px #e8e8e4,
        0px 45px 1px -14px #00000026,
        0px 60px 0px -20px #e8e8e4,
        0px 60px 1px -19px #00000026;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3em;
    padding: 1em 1.5em;
    background-image: linear-gradient(90deg, #5f5b5b, #e8e8e4);
}

h1 {
    font-size: 4.5rem;
}

.meme-form {
    width: 100%;
    margin-top: .75em;
    padding: 0 .5em;
}

input {
    width: 45%;
    padding: .5em;
}

button {
    width: 10%;
    background-color: #2a2727;
    color: #f8f8f3;
    cursor: pointer;
}

button:hover {
    background-color: #5f5b5b;
}

input, button {
    height: 3.3rem;
    font-size: 1.5rem;
}

img.meme {
    height: 50vh;
    padding: 1.5em 0;
}

.meme {
    position: relative;
    text-align: center;
}

.meme .top-text,
.meme .bottom-text {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: #e8e8e4;
    text-transform: uppercase;
    text-shadow: 2px 0 #000, 
        -2px 0 #000, 
        0 2px #000, 
        0 -2px #000,
        1px 1px #000, 
        -1px -1px #000, 
        1px -1px #000, 
        -1px 1px #000;}

.meme .top-text {
    top: 10%;
}

.meme .bottom-text {
    bottom: 10%;
}